@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
}

@property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
}

@property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
}

:root {
    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgba(168, 239, 255, 1);
    --c2: rgba(168, 239, 255, 0.1);
}

.wrapper {
    min-width: min(40rem, 100%);
}

.box {
    border: 2px solid;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
    animation: borderRotate var(--d) linear infinite forwards;
}

.box:nth-child(2) {
    border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
    animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
    100% {
        --angle: 420deg;
    }
}

@keyframes borderRadial {
    20% {
        --gradX: 100%;
        --gradY: 50%;
    }

    40% {
        --gradX: 100%;
        --gradY: 100%;
    }

    60% {
        --gradX: 50%;
        --gradY: 100%;
    }

    80% {
        --gradX: 0%;
        --gradY: 50%;
    }

    100% {
        --gradX: 50%;
        --gradY: 0%;
    }
}

.nav-header {
    background: rgb(55, 59, 68);
    background: linear-gradient(90deg, rgba(55, 59, 68, 1) 0%, rgba(76, 161, 175, 1) 0%, rgba(36, 59, 85, 1) 100%);
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}

.nav-logo a {
    font-family: 'Macondo', cursive;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}

.nav-logo strong {
    font-size: 40px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
}

.nav-list a:hover {
    color: #000718;
    transition: 1s;
    font-weight: bold;
}

.nav-list .nav-item i::after {
    content: "";
    padding-left: 12px;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3 ease in out;
    background-color: #ffffff;
    display: block;
}

:root {
    --color-background: #222;
    --color-foreground: #ddd;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


.search {
    --easing: cubic-bezier(0.4, 0, 0.2, 1);
    --font-size: 1.5rem;
    --color: var(--color-foreground);
    --color-highlight: white;
    --transition-time-icon: 0.2s;
    --transition-time-input: 0.3s 0.25s;
    border-radius: 10px;
    border: 2px solid transparent;
    display: flex;
    transition: border-color var(--transition-time-icon) linear, padding var(--transition-time-input) var(--easing);
}

.search:not(:focus-within) {
    --transition-time-input: 0.2s 0s;
}

@media (prefers-reduced-motion: reduce) {
    .search {
        --transition-time-icon: 0s !important;
        --transition-time-input: 0s !important;
    }
}

.search__input {
    background: transparent;
    border: none;
    color: var(--color-highlight);
    font-size: 20px;
    opacity: 0;
    outline: none;
    padding: 0;
    transition: width var(--transition-time-input) var(--easing), padding var(--transition-time-input) var(--easing), opacity var(--transition-time-input) linear;
    width: 0;
    font-family: 'Roboto Slab', serif;
}

.search__input::-moz-placeholder {
    color: var(--color);
    opacity: 0.75;
}

.search__input:-ms-input-placeholder {
    color: var(--color);
    opacity: 0.75;
}

.search__input::placeholder {
    color: var(--color);
    opacity: 0.75;
}

.search__icon-container {
    height: calc(var(--font-size) + 1rem);
    position: relative;
    width: calc(var(--font-size) + 0.5rem);
    top: 3px;
}

.search__label,
.search__submit {
    color: var(--color);
    cursor: pointer;
    display: block;
    height: 100%;
    padding: 0;
    position: absolute;
    width: 100%;
}

.search__label:hover,
.search__label:focus,
.search__label:active,
.search__submit:hover,
.search__submit:focus,
.search__submit:active {
    color: var(--color-highlight);
}

.search__label {
    transition: transform var(--transition-time-icon) var(--easing), color 0.1s;
}

.search__submit {
    background: none;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 0 4px inset transparent;
    display: none;
    outline: none;
    transition: color 0.1s, box-shadow 0.1s;
}

.search__submit svg {
    transform: scale(0.5);
}

.search__submit:focus {
    box-shadow: 0 0 0 0 inset var(--color-highlight);
}

.search:focus-within {
    border-color: var(--color);
}

.search:focus-within .search__input {
    opacity: 1;
    padding: 0 1rem 0 2rem;
    width: calc(var(--font-size) * 12);
}

.search:focus-within .search__label {
    transform: scale(0.5);
}

.search:focus-within .search__submit {
    -webkit-animation: unhide var(--transition-time-icon) steps(1, end);
    animation: unhide var(--transition-time-icon) steps(1, end);
    display: block;
}

@-webkit-keyframes unhide {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: auto;
        opacity: 1;
    }
}

@keyframes unhide {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: auto;
        opacity: 1;
    }
}

/* Tablet-Responsive--------------------------------------------------------------------------------- */
@media(min-width:768px)and (max-width:1024px) {
    .nav-header {
        width: 100%;
    }

    .container {
        width: 90%;
    }

    .nav-list a {
        font-size: 20px;
    }

}

@media only screen and (max-width:767px) {
    .container {
        width: 90%;
    }

    .nav-bar {
        padding: 10px 0;
    }

    .nav-logo a {
        font-size: 20px;
    }

    .nav-logo strong {
        font-size: 20px;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9000;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px)rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px)rotate(-45deg);
    }

    .nav-bar .nav-list {
        position: fixed;
        top: -100%;
        gap: 0;
        flex-direction: column;
        background-color: #123e52;
        width: 100%;
        transition: 0.3s;
        opacity: 0.8;
        margin-top: 60px;
        left: 0;
    }

    .nav-list a {
        font-size: 3vw;
    }


    .nav-item {
        padding: 10px 0;
        border-bottom: 1px solid #ffffff;
        width: 100%;

    }

    .nav-bar .nav-list.active {
        left: 0;
        top: 0;
    }

    .nav-item:hover {
        background-color: #2a6d8c;
    }

    .nav-items {
        display: none;
    }
}